In [3]:
import pandas as pd
import numpy as np

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
weather = pd.read_csv('data/weather.csv')
spray = pd.read_csv('data/spray.csv')

In [4]:
#creating columns with airport coords
train['lat_mid'] = 41.786839 
train['long_mid'] = -87.752090
train['lat_ohare'] = 41.972582
train['long_ohare'] = -87.908753

In [6]:
#using the vincenty method to determine distance in miles between locations and airports
from geopy.distance import vincenty
train['mid']=train.apply(lambda x: vincenty((x['Latitude'], x['Longitude']), (x['lat_mid'], x['long_mid'] )).miles, axis=1)
train['ohare']=train.apply(lambda x: vincenty((x['Latitude'], x['Longitude']), (x['lat_ohare'], x['long_ohare'] )).miles, axis=1)

In [7]:
#Label each entry with its closest airport 'Station'
train.ix[train['mid'] > train['ohare'], 'Station'] = 1 #map 1 to closer if Ohare is closer
train.ix[train['mid'] < train['ohare'], 'Station'] = 2 #map 2 if closer to Midway
train.Station = train.Station.astype(int) #convert from float to int

In [8]:
#fixing missing values in weather dataframe
weather.replace('M',np.NaN, inplace=True) #replace 'M' with 'NaN'
weather.replace('-',np.NaN, inplace=True)
weather.replace('  T', .005, inplace=True)
weather.fillna(method='ffill', inplace=True) #fill in 'NaN' values with those from above it

In [10]:
weather.corr()

,Station,Tmax,Tmin,DewPoint,Water1,ResultSpeed,ResultDir
Station,1.000000,0.016332,0.103995,0.007511,NaN,-0.007368,-0.016035
Tmax,0.016332,1.000000,0.859981,0.801733,NaN,-0.180596,0.029231
Tmin,0.103995,0.859981,1.000000,0.904358,NaN,-0.114755,-0.014283
DewPoint,0.007511,0.801733,0.904358,1.000000,NaN,-0.189207,0.003466
Water1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ResultSpeed,-0.007368,-0.180596,-0.114755,-0.189207,NaN,1.000000,0.096192
ResultDir,-0.016035,0.029231,-0.014283,0.003466,NaN,0.096192,1.000000

In [13]:
weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1         float64
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [14]:
weather[['Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'AvgSpeed' ]]=weather[['Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'AvgSpeed' ]].astype('float')
#weather.Depart
#weather.WetBulb
#weather.Heat
#weather.Cool
#weather.Sunrise

In [15]:
weather1 = weather.drop(['Water1', 'Depth', 'CodeSum'],axis=1)

In [16]:
weather1.head(10)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,448.0,1849.0,0.0,0.000,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68.0,14.0,51,57.0,0.0,3.0,448.0,1849.0,0.0,0.000,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,447.0,1850.0,0.0,0.000,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52.0,-3.0,42,47.0,13.0,0.0,447.0,1850.0,0.0,0.000,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56.0,2.0,40,48.0,9.0,0.0,446.0,1851.0,0.0,0.000,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58.0,2.0,40,50.0,7.0,0.0,446.0,1851.0,0.0,0.000,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58.0,4.0,41,50.0,7.0,0.0,444.0,1852.0,0.0,0.005,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,58.0,4.0,42,50.0,7.0,0.0,444.0,1852.0,0.0,0.000,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60.0,5.0,38,49.0,5.0,0.0,443.0,1853.0,0.0,0.005,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60.0,5.0,39,50.0,5.0,0.0,443.0,1853.0,0.0,0.005,29.46,30.09,11.2,7,11.5

In [17]:
#merge train and weather dataframes
#merge based on matching Date and Station and value
train1 = train.merge(weather1, on= ['Date', 'Station'])

In [18]:
train1['Month']=[d.split('-')[1] for d in train1.Date]

In [20]:
train1.Month.value_counts()

08    3751
07    2606
09    2218
06    1571
10     276
05      84
Name: Month, dtype: int64

In [19]:
train1.head(3)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,Sunrise,Sunset,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Month
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,421.0,1917.0,0.0,0.0,29.39,30.11,5.8,18,6.5,05
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,421.0,1917.0,0.0,0.0,29.39,30.11,5.8,18,6.5,05
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,421.0,1917.0,0.0,0.0,29.39,30.11,5.8,18,6.5,05